<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DeepFind AI{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="auth-page">

<div class="auth-container">

    <div class="auth-left">
        {% block content %}
        {% endblock %}
    </div>

    <div class="auth-right">

        <h1>DeepFind AI</h1>

        <p>
            AI Powered Search Engine
        </p>

    </div>

</div>

<script src="/static/js/auth.js"></script>


</body>
</html>