{% extends "layouts/app.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<section class="hero">

    

    <div class="search-box">

        <input
            type="text"
            placeholder="Search anything..."
        >

        <button>
            🚀 Search
        </button>

    </div>

</section>

<section class="quick-actions">

    <div class="action-card">
        🤖
        <h3>AI Chat</h3>
    </div>

    <div class="action-card">
        📄
        <h3>Research</h3>
    </div>

    <div class="action-card">
        📂
        <h3>Projects</h3>
    </div>

    <div class="action-card">
        📑
        <h3>Upload Docs</h3>
    </div>

</section>

<section class="cards">

    <div class="card">
        <h1>14</h1>
        <p>Total Searches</p>
    </div>

    <div class="card">
        <h1>6</h1>
        <p>Projects</p>
    </div>

    <div class="card">
        <h1>32</h1>
        <p>Saved Results</p>
    </div>

    <div class="card">
        <h1>4</h1>
        <p>AI Chats</p>
    </div>

</section>

{% endblock %}